# IDE and Editor
.vscode/
.ides/
.DS_Store

# Docker and Infrastructure
docker-compose-unified.yml
init_network.sh

# Dependencies
sekai/

# Logs
manager/logs/
proxy/logs/

# Storage
worker/sai-storage-mongo/storage

# Binaries
manager/manager
manager/sai-interx-manager
proxy/proxy
proxy/sai-interax-proxy
worker/cosmos/sai-cosmos-indexer/cosmos-indexer
worker/cosmos/sai-cosmos-indexer/saiCosmosIndexer
worker/cosmos/sai-cosmos-interaction/cosmos-interaction
worker/cosmos/sai-cosmos-interaction/saiCosmosInteraction
worker/ethereum/sai-ethereum-contract-interaction/ethereum-interaction
worker/ethereum/sai-ethereum-contract-interaction/sai-eth-interaction
worker/ethereum/sai-ethereum-indexer/cmd/app/bin/act
worker/ethereum/sai-ethereum-indexer/cmd/app/ethereum-indexer
worker/sai-storage-mongo/sai-storage-mongo
