common:
  http:
    enabled: true
    port: 8080
  ws:
    enabled: false
    port: 8881

storage:
  token: "a@@#lsa$fd8f"
  url: "http://worker-sai-storage:8880"
ethereum:
  interaction: "http://worker-sai-ethereum-interaction:8882"
  nodes:
    chain1: "https://data-seed-prebsc-1-s1.bnbchain.org:8545"
  token: "a@@#lsa$fd8f"
  retries: 1
  retry_delay: 10
  rate_limit: 10
cosmos:
  node: "157.180.16.117:9090"
  gw_timeout: 3
  interaction: "http://worker-sai-cosmos-interaction:8884"
  token: "a@@#lsa$fd8f"
  retries: 1
  retry_delay: 10
  rate_limit: 10

p2p:
  id: "1"
  address: "127.0.0.1:9000"
  peers: []
  max_peers: 2

balancer:
  window_size: 60
  threshold: 0.2